global
  daemon
  log  /dev/log local0
  log  /dev/log local1 notice
  maxconn  16384
  stats  socket /var/run/haproxy.sock level admin
  tune.ssl.default-dh-param  2048

defaults
  balance  roundrobin
  default-server  init-addr last,libc,none
  log  global
  mode  tcp
  option  tcplog
  option  httpchk GET /healthz
  timeout  connect 5s
  timeout  client 50s
  timeout  tunnel 1h
  timeout  http-request 10s
  timeout  server 61m

resolvers localdns
  nameserver dns1 127.0.0.53:53
  accepted_payload_size 8192

listen stats
  bind localhost:8888
  stats uri /
  stats enable
